.themeToggleButton {
	display: grid;
	place-items: center;
	width: 3.5rem;
	height: 2rem;
	border-color: transparent;
	background: transparent;
	cursor: pointer;

	.toggle-icon {
		font-size: 1.15rem;
		color: var(--text-color);
	}
}
