.smallSidebar {
	@media (min-width: 992px) {
		display: none;
	}

	.sidebar-container {
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: -1;
		inset: 0;
		position: fixed;
		background: rgba(0, 0, 0, 0.7);
		opacity: 0;
		transition: var(--transition);
		visibility: hidden;
	}

	.show-sidebar {
		z-index: 99;
		opacity: 1;
		visibility: visible;
	}

	.content {
		position: relative;
		display: flex;
		align-items: center;
		flex-direction: column;
		width: var(--fluid-width);
		height: 95vh;
		padding: 4rem 2rem;
		border-radius: var(--border-radius);
		background: var(--background-secondary-color);

		.close-btn {
			position: absolute;
			top: 10px;
			left: 10px;
			border-color: transparent;
			font-size: 2rem;
			color: var(--red-dark);
			background: transparent;
			cursor: pointer;
		}

		.nav-links {
			display: flex;
			flex-direction: column;
			padding-top: 2rem;

			.nav-link {
				display: flex;
				align-items: center;
				padding: 1rem 0;
				color: var(--text-secondary-color);
				text-transform: capitalize;
				transition: var(--transition);

				&:hover {
					color: var(--primary-500);
				}

				.icon {
					font-size: 1.5rem;
					margin-right: 1rem;
					display: grid;
					place-items: center;
				}

				&.active {
					color: var(--primary-500);
				}
			}
		}
	}
}
